.home-newsletter {
	padding: 200px 0;
	/*background: #EDB000;*/
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.home-newsletter_1 {
  padding: 100px 0;
  /*background: #EDB000;*/
  background-image: url("productive_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}
.home-newsletter_1 .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter_1 .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter_1 .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter_1 .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter_1 .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}
.navbar-brand {
    height: auto;
    width: auto;
    max-height: 45px;
    max-width: 40px;
}
#company-name {
	color: #e5ae04;
	font-size: 25px;
	font-family: "Montserrat"
}
.product-container{
	padding: 40px 0;
}
#tag-line {
	/*font-weight: 900;*/
}
.doggo {
	height: 400px;
	width: 300px;
}
.tag-line-2{
	font-weight: 900;
}
html * {
	font-family: "Montserrat";
}
html, body {
    margin: 0;
    height: 100%;
}
body { padding-top: 70px; }
.footer-font{
	color: #595d63;
}
/*section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 20px 0px 20px;
  color: #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 60;
  height: 70;
  display: inline-block;
  margin: 10px;
  list-style: none;
}
section #services li div {
  width: 60;
  height: 60;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #e5ae04;
  transition: all 0.5s ease;
}
section #services li a {
  /*color: #e5ae04;*/
/*  color: #595d63;
}*/
.contact-info-li {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  list-style: none;
}
.contact-info-li div {
  font-size: 3.4em;
  text-align: center;
}
.explanation-webpage{
	padding: 250px 0 0 0;
}
.distraction {
	padding: 250px 0;
	/*background: #EDB000;*/
	background-image: url("distraction.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.first-layer {
	padding: 250px 0;
}
.technique-webpage{
	padding: 250px 0 0 0;
}
.pomodoro {
	padding: 100px 0;
	/*background: #EDB000;*/
	background-image: url("time.jpg");
	background-repeat: no-repeat;
	background-size: cover ;
}
.step-1 {
	padding: 250px 0;
	/*background: #EDB000;*/
	background-image: url("work.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.step-2 {
	padding: 250px 0;
	/*background: #EDB000;*/
	background-image: url("break.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.step-3 {
	padding: 250px 0;
	/*background: #EDB000;*/
	background-image: url("repeat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*.steps:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}*/
.whiten{
	/*background-color: #03c2fc;*/
	color: #ffffff;
}
.headlines{
	color: #e5ae04;
}
.subscribe-mobile-1 {
	font-size: 2em;
	/*visibility: hidden;*/
  display: none;
}
.subscribe-mobile-2 {
	font-size: 2em;
	/*visibility: hidden;*/
  display: none;
}
#sign-up{
  color: #ffffff;
}
.explanation-mobile{
  padding: 250px 0;
  display: none;
}
.technique-mobile{
  padding: 250px 0;
  display: none;
}
.product-mobile{
  display: none;
}
.about-mobile{
  display: none;
}




@media screen and (max-width: 1020px) {
  #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
 #subtitle, #share, #slider, #sidebar{
    display:none;
  }
  p{ 
  	font-size: 2em;
  }
  p#smaller{
    font-size: 1.5em;
  }
/*  #company-name{
  	font-size: 3em;
  }*/
 /* .mobile-important{
  	font-size: 3em;
  }*/
  h2{
  	font-size: 2em;
  }
  h1{
  	font-size: 3em;
  }
  h4{
  	font-size: 1.5em;
  }
  h3{
  	font-size: 2em;
  }
  .subscribe{
  	font-size: 2em;
  	/*display: none;*/
    display: none;
  }
  .nav-sides{
  	font-size: 2em;
  }
  .subscribe-mobile-1{
  	font-size: 2em;
  	/*visibility: visible;*/
    display: inline-block;
  }
  .subscribe-mobile-2{
  	font-size: 2em;
  	/*visibility: visible;*/
    display: inline-block;
  }
  #sign-up{
    /*visibility: hidden;*/
    display: none;
  }
  .home-newsletter_1 .single .btn {
    min-height: 50px;
    border-radius: 10px 10px 10px 10px;
    background: #243c4f;
    color: #fff;
  }
  .home-newsletter_1 .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 10px 10px 10px 10px; 
    }
  #company-name {
    color: #e5ae04;
    font-size: 25px;
    font-family: "Montserrat";
    font-size: 3em;
  }
  .explanation-webpage{
    display: none;
  }
  .explanation-mobile{
    padding: 200px 0 0 0;
    display: inline-block;
  }
  .technique-webpage{
    display: none;
  }
  .technique-mobile{
    padding: 200px 0 0 0;
    display: inline-block;
  }
  .product-webpage{
    display: none;
  }
  .product-mobile{
    padding: 0 0 200px 0;
    display: inline-block;
  }
  .about-webpage{
    display: none;
  }
  .about-mobile{
    padding: 200px 0;
    display: inline-block;
  }
}




.image-frame-1{
/*	background: #EDB000;*/
	background-image: url("doggo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.overlay{
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 194, 252,0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.image-cropper {
  padding: 5px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  /*margin-left: -25%; //centers the image*/
  height: 100%;
  width: auto;
  object-fit: cover;
}
.avatarMentor {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: auto;
    opacity: 1;
}
.wrapper {
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.resizing{
  height: 50px;
  width: 50px;
}
input{
   text-align:center;
}
#btchello_bar{
background:#CC3300;
width:100%;
margin:0px auto 0px auto;
text-align:center;
padding:5px 0;
box-shadow: #666666 0px 1px 3px;
z-index: 9998;
height: 70px;
position:fixed;
line-height: 1.85em;
vertical-align: baseline;
letter-spacing: 1px;
text-decoration:none;
color:#fff;
font-size:15px;
font-weight:none;
line-height: 24px;
border-top:0px solid #000;
border-bottom:0px solid #000;
}
#btchello_bar a{
text-decoration:none;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family: Cambria;
line-height: 24px;
}
#btchello_bar a:hover{
text-decoration:none;
}
#btchello_bar p {margin:0; list-style:none;}
#btchello_bar img {vertical-align: middle;
margin-right: 6px;}
#hello-bar-form {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}